@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  scroll-behavior: smooth;

  @apply bg-gray-900 text-white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #222222;
  transition: all 0.3s;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 10px;
}
::selection {
  background-color: red;
  color: white;
}
